# --- Define basic settings --- #
executor:           lsf
scheduler:          greedy
jobs:               500
latency-wait:       5
rerun-incomplete:   true
use-singularity:    true
use-conda:          true
retries:            0

# --- Define default resources for all rules --- #
default-resources:
  lsf_queue:    "express"
  lsf_project:  "acc_EPIASD"
  mem_mb:       25000
  runtime:      720
  threads:      4
  span:         "span[hosts=1]"
  lsf_extra:    "-oo clusterlogs/%J.OU"

# --- Define rule-specific resources --- #
set-resources:

  bam_to_fasta:
    mem_mb:     16000
    runtime:    360

  mapping:
    mem_mb:     64000

  talon_label_reads:
    mem_mb:     32000

  run_transcriptclean:
    lsf_queue:  "express"
    mem_mb:     350000
    runtime:    720

  run_transcriptclean_on_chunk:
    lsf_queue:  "express"
    mem_mb:     40000
    runtime:    720

  run_isopropeller:
    lsf_queue:  "express"
    mem_mb:     90000
    runtime:    720

  merge_isopropeller_gtfs:
    lsf_queue:  "premium"
    mem_mb:     90000
    runtime:    1440
