
# CSV formatted file with sample names and paths to flnc files
samples: "samples.csv"

# Full path to the reference genome fasta file for isoform mapping
reference_genome_fasta: "/home/harm/mm39-v38/GRCm39.primary_assembly.genome.fa"

# Reference gene annotations (e.g. GENCODE) in GTF format
reference_annotations_gtf: "/home/harm/mm39-v38/gencode.vM38.annotation.gtf"

# Reference gene annotations in RefFlat format (used by Picard RNAseq metrics)
reference_annotations_refflat: "/home/harm/mm39-v38/gencode.vM38.annotation.refFlat.txt"

# A reference set of trusted transcription start sites and CAGE regions in BED format
reference_tss_bed: "/home/harm/mm39-v38/GRCm39_mouse-tss-from-gtf-and-fantom5-CAGE-peaks.bed"

# A reference set of trusted splice junctions (needed for transcriptclean step) in STAR SJ.out.tab format
splice_junctions_file: "/home/harm/mm39-v38/GRCm39_introns-from-gtf-annotations_sjout.tab"

# A reference set of repeat regions in the genome (e.g from repeatmasker) in BED format
reference_repeat_regions_bed: "/home/harm/mm39-v38/GRCm39_repeatmasker_sorted_nr.bed"

# A reference set of pseudo-autosomal regions (PARS) in BED format
reference_PAR_regions_bed: "/home/harm/mm39-v38/GRCm39_mouse-PAR.bed"

# A reference set of segmental duplication regions in BED Format
reference_segdups_bed: "/home/harm/mm39-v38/GRCm39_mouse-segdups-liftover-from-mm10.bed"

# An optional bed file with the position of all 3' terminal exons (+500 bp flanking region)
# If provided, the isoPropeller intra-priming filter will be disabled in these regions
reference_intrapriming_exclude_regions_bed: "/home/harm/mm39-v38/gencode.vM38.annotation_500bp_terminal.bed"

# The maximum allowed intron length when mapping reads to the reference genome with minimap2
# This is set to 1.25 Mb by default, which is the maximum known intron size in the human genome
max_intron_length: 1250000

# Set to 'true' to perform transcriptclean after mapping FLNC reads to the genome
# This will correct sequencing errors and splice sites and is recommended in general
use_transcriptclean: true

# Set to 'true' if outputs should be limited to autosomes (chrN) and sex chromosomes (chrX, chrY), 
# removing chrM and other contigs. Make sure to set this to false if you use a non-reference 
# organism (other than human/mouse), or want to keep unplaced contigs, or if your reference includes
# custom contigs
limit_output_to_chrNXY: true

# If the mitochondrial read count is very high (>500k reads), it will take a long time to run
# the isoPropeller collapsing. By default the pipeline will therefore downsample mitochondrial reads
max_chrM_reads: 50000

# Prefix to use for the merged isoform file and final merged isoforms
merged_isoform_prefix:  "ISOP"

# After the merge step, optionally consolidate smaller splice chains into longer splice chains
# if they are fully contiguous and contained in a longer splicechain but are missing terminal exons
# (these are likely incomplete transcript fragments). Reads from the shorter splice chains are
# proportionally redistributed across the longer splice chains. Isoforms with 5' ends overlapping
# known CAGE or TSS regions within the 'consolidate_protect_window' distance are protected from merging.
consolidate_contained_splicechains:                 True
consolidate_protect_window:                         75
consolidate_round_mode:                             "nearest"  # nearest|floor|ceil|none

# After the isoPropeller merging steps, optionally perform the following filtering steps to reduce
# technical and biological noise.
remove_monoexons_without_cage_support:              True
remove_monoexon_premRNA_fragments:                  True
remove_isoforms_with_noncanonical_splice_junctions: True
remove_isoforms_with_template_switching_artifacts:  True
remove_isoforms_with_antisense_perfect_splicematch: True
remove_isoforms_fully_contained_in_repeats:         True
remove_isoforms_overlapping_PAR_regions:            True
remove_isoforms_not_meeting_TPM_threshold:          True
remove_isoforms_with_mismapped_segdup_exons:        True

# Define thresholds used in filtering
filt_monoexon_tss_maxdist_bp:       10
filt_monoexon_min_intron_ovlp_bp:   10
filt_rmsk_min_ovlp_fract:           0.9
filt_par_min_ovlp_fract:            0
filt_tpm_min_count:                 0.5
filt_tpm_min_samples:               3

# Set up chunking parameters for transcriptclean
transcriptclean_chunk_maxreads:  2000000
transcripclean_chunk_threads:    8

# QC analysis parameters
varscan_min_coverage:  20
varscan_min_reads2:    4

