
# CSV formatted file with sample names and paths to flnc files
samples: "samples.csv"

# Full path to the reference genome fasta file for isoform mapping
reference_genome_fasta: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/GRCh38.primary_assembly.genome.fa"

# An optional bed file with the position of all 3' terminal exons (+500 bp flanking region)
# If provided, the isoPropeller intra-priming filter will be disabled in these regions
intrapriming_exclude_regions_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/gencode.v41.annotation_500bp_terminal.bed"

# The maximum allowed intron length when mapping reads to the reference genome with minimap2
# This is set to 1.25 Mb by default, which is the maximum known intron size in the human genome
max_intron_length: 1250000

# Path to file with known splice junctions (needed for transcriptclean step)
splice_junctions_file: "/sc/arion/work/pintod02/opt/isoseq_pipeline/data/merged-intropolis-PEC-GTEX.SJ.out.tab"

# Set to 'true' to perform transcriptclean after mapping FLNC reads to the genome
# This will correct sequencing errors and splice sites and is recommended in general
use_transcriptclean: true

# Bed-formatted file with know TSS regions and CAGE peaks
cage_bed_file: "/sc/arion/work/pintod02/opt/isoseq_pipeline/data/combined_cage_Pitt-Fantom5-119FrontalLob_refTSS3.3_refseq_gencode_extended.merged.sorted_chr.bed"

# Set to 'true' if outputs should be limited to autosomes (chrN) and sex chromosomes (chrX, chrY), 
# removing chrM and other chromosomes. Make sure to set this to false if you use a non-reference 
# organism (other than human/mouse), or want to keep unplaced contigs, or if your reference includes
# custom contigs
limit_output_to_chrNXY: true

# Prefix to use for the merged isoform file and final merged isoforms
merged_isoform_prefix:  "ISOP"

# After the isoPropeller merging steps, optionally perform the following filtering steps to reduce
# technical and biological noise.
remove_monoexons_without_cage_support:              True
remove_monoexon_premRNA_fragments:                  True
remove_isoforms_with_noncanonical_splice_junctions: True
remove_isoforms_with_template_switching_artifacts:  True
remove_isoforms_with_antisense_perfect_splicematch: True
remove_isoforms_fully_contained_in_repeats:         True
remove_isoforms_overlapping_PAR_regions:            True
remove_isoforms_not_found_in_min_samples:           3
