
# CSV formatted file with sample names and paths to flnc files
samples: "samples.csv"

# Full path to the reference genome fasta file for isoform mapping
reference_genome_fasta: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/GRCh38.primary_assembly.genome.sirvs4.fa"

# Reference gene annotations (e.g. GENCODE) in GTF format
reference_annotations_gtf: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/gencode.v41.annotation_no-mi-sn-sno-sca-RNAs_sirvs4.gtf"

# Reference gene annotations in RefFlat format (used by Picard RNAseq metrics)
reference_annotations_refflat: "/hpc/users/pintod02/pintod02c/reference-databases/hg38-v41-ERCC/gencode.v41.annotation.refFlat.txt"

# A reference set of trusted transcription start sites and CAGE regions in BED format
# reference_tss_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/isopropeller/combined_cage_Pitt-Fantom5-119FrontalLob_refTSS3.3_refseq_gencode_extended.merged.sorted_chr.bed"
reference_tss_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/refseq_2025-10-06_gencode_v41_TSS-coordinates.bed"

# A reference set of trusted splice junctions (needed for transcriptclean step) in STAR SJ.out.tab format
splice_junctions_file: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/isopropeller/merged-intropolis-PEC-GTEX_sirvs4.SJ.out.tab"

# A reference set of repeat regions in the genome (e.g from repeatmasker) in BED format
reference_repeat_regions_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/GRCh38.primary_assembly.genome_rmsk_nr.bed"

# A reference set of pseudo-autosomal regions (PARS) in BED format
reference_PAR_regions_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/isopropeller/GRCh38.p13_PARs.bed"

# A reference set of segmental duplication regions in BED Format
reference_segdups_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/isopropeller/SegDups_hg38.merged.bed"

# An optional bed file with the position of all 3' terminal exons (+500 bp flanking region)
# If provided, the isoPropeller intra-priming filter will be disabled in these regions
reference_intrapriming_exclude_regions_bed: "/sc/arion/projects/pintod02c/reference-databases/hg38-v41-ERCC/gencode.v41.annotation_500bp_terminal.bed"

# The maximum allowed intron length when mapping reads to the reference genome with minimap2
# This is set to 1.25 Mb by default, which is the maximum known intron size in the human genome
max_intron_length: 1250000

# Set to 'true' to perform transcriptclean after mapping FLNC reads to the genome
# This will correct sequencing errors and splice sites and is recommended in general
use_transcriptclean: true

# Set to 'true' if outputs should be limited to autosomes (chrN) and sex chromosomes (chrX, chrY), 
# removing chrM and other contigs. Make sure to set this to false if you use a non-reference 
# organism (other than human/mouse), or want to keep unplaced contigs, or if your reference includes
# custom contigs
limit_output_to_chrNXY: true

# If the mitochondrial read count is very high (>500k reads), it will take a long time to run
# the isoPropeller collapsing. By default the pipeline will therefore downsample mitochondrial reads
max_chrM_reads: 50000

# Prefix to use for the merged isoform file and final merged isoforms
merged_isoform_prefix:  "ISOP"

# After the isoPropeller merging steps, optionally perform the following filtering steps to reduce
# technical and biological noise.
remove_monoexons_without_cage_support:              True
remove_monoexon_premRNA_fragments:                  True
remove_isoforms_with_noncanonical_splice_junctions: True
remove_isoforms_with_template_switching_artifacts:  True
remove_isoforms_with_antisense_perfect_splicematch: True
remove_isoforms_fully_contained_in_repeats:         True
remove_isoforms_overlapping_PAR_regions:            True
remove_isoforms_not_meeting_TPM_threshold:          True
remove_isoforms_with_mismapped_segdup_exons:        True

# Define thresholds used in filtering
filt_monoexon_tss_maxdist_bp:       10
filt_monoexon_min_intron_ovlp_bp:   10
filt_rmsk_min_ovlp_fract:           0.9
filt_par_min_ovlp_fract:            0
filt_tpm_min_count:                 0.5
filt_tpm_min_samples:               3

# After the merge step, optionally consolidate smaller splice chains into longer splice chains
# if they are fully contiguous and contained in a longer splicechain but are missing terminal exons
# (these are likely incomplete transcript fragments). Reads from the shorter splice chains are
# proportionally redistributed across the longer splice chains. Dominant isoforms that account for at 
# least 10% or more of the transcript output per gene (consolidate_merge_min_frac) in at least 2 or 
# more samples (consolidate_merge_min_samples) will never be merged into larger transcripts.
consolidate_contained_splicechains:                 True
consolidate_merge_min_frac:                         0.1
consolidate_merge_min_samples:                      2

# Set parameters for pruning isoforms from overlapping isoform clusters, retaining only the top
# percentile of expressed isoforms.
prune_low_expressed_isoforms_retain_pct:            97
prune_low_expressed_isforms_match_mode:             "any_shared"
prune_low_expressed_isforms_min_samples:            2

# Set up chunking parameters for transcriptclean
transcriptclean_chunk_maxreads:  2000000
transcripclean_chunk_threads:    8

# QC analysis parameters
varscan_min_coverage:  20
varscan_min_reads2:    4

# Options for a pbfusion analysis
# IMPORTANT: The pbfusion application expects read names to have this format: m64077_200218_133802/7/ccs
#            You must reformat read names when e.g. downloading fastq data from the sequence read archive
run_pbfusion:                        true       # True: run pbfusion step. False: Do not run pbfusion step
pbfusion_min_fusion_quality:         "MEDIUM"   # Determine the minimum fusion quality to emit. Choices: must be LOW or MEDIUM
pbfusion_min_coverage:               2          # Real-cell filtering for single-cell data. Iso-Seq reads annotated with zero "rc" tag value will be filtered. Assigns "low confidence" to fusion calls below threshold
pbfusion_min_mean_identity:          0.93       # Assigns "low confidence" to fusion calls where the mean alignment identity is below the threshold
pbfusion_min_mean_mapq:              10         # Assigns "low confidence" to fusion calls where the mean mapq is below the threshold
pbfusion_min_fusion_read_fraction:   0.25       # Remove breakpoint pairs from groups if they have gene alignments which fewer than [arg] reads in group have
pbfusion_max_variability:            1000       # Assigns "low confidence" to fusion calls with the mean breakpoint distance is above the threshold
pbfusion_max_readthrough:            100000     # Assigns "low confidence" to fusion calls spanning two genes below the readthrough threshold.
pbfusion_max_genes_in_event:         3          # Mark fusion groups involving > [arg] genes as low quality. This is a common source of false positives 
pbfusion_min_fusion_fraction:        0.01       # Minimum fusion fraction relative to transcript count
pbfusion_prom_filter:                8          # Filter rarer events involving genes with high numbers of fusion partners. These are a common source of false positives. Disable by setting `--prom-filter 0`.
